@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body, #root, .App, .title, .form-main { height: 100%; }

.App {
    width: 100%;
}

.title{
    width: 50%;
    float: left;
    display: block;
}

img{
    width:100%;
    height: auto;
}

.form-main{
    width: 50%;
    background-color:black;
    padding: 25px 40px;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    display: inline;
    font-size: 2em;
    margin: 15px 10px;
    margin-left: 25px;
    padding-bottom: 5px;
}

.form-ip{
    margin-bottom:100px;
    margin-top:50px;
}

.form-group{
    font-weight: 300;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-label {
    display: none;
    text-transform: uppercase;
    font-size: .9em;
    padding-left:15px;
    color: whitesmoke;
}

.form-control{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-left:15px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: whitesmoke;
}

::placeholder {
    color:whitesmoke;
    opacity: 1;
  }

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 25px;
    margin-right: 105px;
    border-radius: 9px;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    border: 2px solid #e7e7e7;
}
.forgot-password a {
    margin-left: 25px;
    color: whitesmoke;
}

#img2{
    display: none;
}

@media screen and (max-width:800px) {
    #img1{
        display: none;
    }
    #img2{
        display: block;
    }
    .title{
        height: auto;
        width:100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .form-main  {
        height: auto;
        width:100%;
    }
}