<form action="/user/login" method="post">
    <p>
        <label>Emp_id  </label><input value="" name="email"/><br/>
        <br/>
        <label>Password </label><input value="" name="password"/><br/>
        <br/>
        <button type="submit">Add User</button>
    </p>

</form>