<form action="/product/add" method="post">
    <p>
        <label>Pro_id  </label><input value="" name="Emp_id"/><br/>
        <br/>
        <label>Product_name </label><input value="" name="First_Name"/><br/>
        <br/>
        <label>Pro_weight</label><input value="" name="Last_Name"/><br/>
        <br/>
        <label>Price </label><input value="" name="Date_Of_Birth"/><br/>
        <br/>
        <label>Discount</label><input value="" name="e_mail"/><br/>
        <br/>
        <label>Quantity</label><input value="" name="phone"/><br/>
        <br/>
        <label>Manu_Date </label><input value="" name="pass"/><br/>
        <br/>
        <label>Exp_Date </label><input value="" name="pass"/><br/>
        <br/>
        <button type="submit">Add Product</button>
    </p>

</form>