<h1>Vendor</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Vendor_Name</th>
        <th>Contact_Person</th>
        <th>Contact_Number</th>
    </tr>
     {{#each data}}
    <tr>
        <td>{{this.Vendor_Id}}</td>
        <th>{{this.Company_Name}}</th>
        <th>{{this.Contact_Person}}</th>
        <th>{{this.Contact_Number}}</th>
    </tr>
    {{/each}}
</table>